body {
    background-color: rgb(139, 139, 139);
    margin: 0;
    color: rgb(42, 130, 255);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  .container {
    background-color: #294043;
    padding: 3rem;
    border-radius: 1rem;
    border: 2px solid rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .form {
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 1rem;
    column-gap: 3rem;
    justify-content: center;
    align-items: center;
  }
  
  .title {
    margin: 0;
    text-align: center;
  }
  
  label {
    font-weight: bold;
  }
  
  .character-amount-container {
    display: flex;
    align-items: center;
  }
  
  .number-input {
    width: 2rem;
  }
  
  .password-display{
    background-color: rgb(139, 139, 139);
    border: 2px solid black;
    display: flex;
    width: 350px;
    height: 2rem;
    padding: 1rem;
    padding-right: 0.5rem;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
    margin: 1.5rem;
  }

  .passwordArea{
  color: black;
  display: flex;
  width: 90%;
  word-break: break-all;
  justify-content: center;
  }

  .copyBtn{
    width: 10%;
    border: none;
    cursor: pointer;
    background-color: rgb(139, 139, 139);
  }

  .copyBtn img{
    /* object-fit: contain; */
    align-self: center;
    height: 100%;
    width: 100%;
  }


/* .password-display {
    background-color: white;
    color: black;
    padding: 1rem;
    border: 1px solid #333;
    height: 2rem;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    word-break: break-all;
    border-radius: .5rem;
  } */
  
  
  .btn {
    grid-column: span 2;
    background-color: transparent;
    border: 2px solid black;
    color: rgb(42, 130, 255);
    padding: .5rem 1rem;
    font-weight: bold;
    cursor: pointer;
    border-radius: 1rem;
  }
  
  .btn:hover {
    background-color: #FFFFFF33;
  }